<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="style/index.css" />
        <title>Protein marker</title>
    </head>
    <body>
        <% for(let i = 0; i < images.length; i++) {
            const image = images[i];
        %>
            <a class="imageInList" href="image?imgSrc=<%= image %>">
                <img src="img/<%= image %>" />
                <span><%= image %></span>
            </a>
        <% } %>
    </body>
</html>
